.ngx-datatable {
  border: 1px solid $alto;
  border-top: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;

  .datatable-header-cell {
    background: $white-smoke;
    padding: 10px 20px;
    font-weight: bold;
    white-space: normal !important;
  }

  .datatable-body-cell {
    padding: 10px 20px;
    line-height: 18px;
    white-space: normal !important;
    border-bottom: 1px solid $alto;
  }
}
