.navbar {
  background: #3694BA;
  width: 100%;
  padding-bottom: 9px;
  padding-top: 8px;
}

.svr-navbar {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  border: none !important;
}

.svr-styles .svr-logo {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
  width: 50px;
}

.svr-styles .svr-logo img {
  height: 44px;
  width: 44px;
}

.svr-styles .svr-logo-text {
  line-height: 1.1;
}

.svr-styles .svr-logo-text, .svr-styles .svr-logo {
  display: inline-block;
}

.svr-styles .svr-logo-text-top {
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
}

.svr-styles .svr-logo-text-bottom {
  font-size: 21px;
}

.svr-styles .svr-logo-text-top, .svr-styles .svr-logo-text-bottom {
  color: #FFFFFF;
}
