.app-table {
  font-size: 14px;
  width: 100%;
  border: 1px solid $alto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;

  th {
    font-size: 12px;
    font-weight: normal;
  }

  th, td {
    border-bottom: 1px solid $alto;
    padding: 10px 20px;
    line-height: 21px;

    &.color-cell {
      background: $alabaster;
      border-bottom: 0;
    }
  }
}
