<div class="row">
  <div class="navbar navbar-static-top svr-navbar">
    <div class="container-fluid nav-header-fluid">
      <div class="navbar-header">
        <a href="/" class="svr-styles">
          <span class="svr-logo">
            <img class="img-fluid" src="../../../assets/images/svr.png" alt="SVR LOGO">
          </span>
          <span class="svr-logo-text">
            <span class="svr-logo-text-top">СИСТЕМА ВЕДЕННЯ</span>
            <br>
            <span class="svr-logo-text-bottom">РЕЄСТРІВ</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

